@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  background-color: #212529 !important;
  color: #fff !important;
}


.banner {
  background-image: url("./img/banner.jpg");
  width: 100%;
  height: 17rem;
  color: white;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  padding-top: 4rem;
}
.subtitle {
  margin-top: 1rem;
  font-size: 18px;
}
.crypto-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.market-cap  {
  margin-bottom: 20px;
  font-size: 2rem;
}

.table {
  margin: 1rem auto;
}

.flex {
  display: flex;
}

.table tbody:hover {
  cursor: pointer;
}
.table thead th {
  background-color: #F99606 !important;
  padding: 20px;
  color: black;
  text-align: center;
}

.table tbody tr td:not(:nth-child(1)) {
  text-align: center;
}

.table thead th:first-child {
  border-top-left-radius:10px ;
}
.table thead th:last-child {
  border-top-right-radius:10px ;
}

.td-el {
  margin-top: 25px;
}
.img-symb {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
.coin-rev {
  margin-left: 20px;
  margin-top: 10px;
}