@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  background-color: #212529 !important;
  color: #fff !important;
}

.banner {
  background-image: url("./img/banner.jpg");
  width: 100%;
  height: 17rem;
  color: white;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  padding-top: 4rem;
}
.subtitle {
  margin-top: 1rem;
  font-size: 18px;
}
.crypto-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.market-cap  {
  margin-bottom: 20px;
  font-size: 2rem;
}

.table {
  margin: 1rem auto;
}

.flex {
  display: flex;
}
.brand:hover {
  cursor:pointer;
}
.selected-btn {
border: 1px solid #F99606;
border-radius: 5;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
cursor: pointer;
background-color: #212529;
color: #fff;
border-radius: 5px;
}
.bg-gold {
  background-color: #F99606;
  font-weight: 600;
  color: #212529;
}
.brand:link {
  text-decoration: none;
}

.desc-detail {
  margin-left: 80px;
}
.desc-title {
  font-size: 18px;
}
.coin-logo {
  margin-top: 150px;
  margin-left: 15%;
}
.header {
  margin-bottom: 60px;
}

.sidebar {
  margin-right: 25px;
  width: 25%;
}
.table tbody:hover {
  cursor: pointer;
}
.table thead th {
  background-color: #F99606 !important;
  padding: 20px;
  color: black;
  text-align: center;
}

.table tbody tr td:not(:nth-child(1)) {
  text-align: center;
}

.table thead th:first-child {
  border-top-left-radius:10px ;
}
.table thead th:last-child {
  border-top-right-radius:10px ;
}

.td-el {
  margin-top: 25px;
}
.img-symb {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
.coin-rev {
  margin-left: 20px;
  margin-top: 10px;
}
@media only screen and (max-width: 700px) {
  .brand {
    font-size: 18px;
  }
  select {
    padding-right: 10px;
  }
  .title {
    font-size: 2rem;
    padding-top: 100px;
  }
  .subtitle {
    font-size: 14px;
  }
  .market-cap {
    font-size: 1.2rem;
  }
    .table thead th {
      padding: 10px;
    }
    .img-symb {
      width: 30px;
      height: 30px;
      margin-left: -7px;
    }
    .coin-detail {
      display: flex;
      flex-wrap: wrap;
    }
    .coin-logo {
      width: 100px;
      height: 100px;
      margin-top: 80px;
      margin-left:0;
    }
    .desc-detail {
      margin-top: 80px;
      margin-left: 5%;
    }
    h5 {
      font-size:16px;
    }
    .sidebar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .selected-btn {
      padding: 5px;
    }

}